#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define PISI 1
#define SETUP 2
#define SYMBOL 3
#define FUNCTION 4
#define NAVIGATION 5

#define HYPER LG(LS(LA(LCTRL)))
// Symbol


/ {

    behaviors {
        td_caps: tap_dance_caps_word {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_CAPS_WORD";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&sk LSHIFT>, <&caps_word>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ------------------------------------------------------------------------------------------------------------
// |   1   |  2  |  3  |  4   |  5   |  6   |                   |  7   |  8    |  9    |  0   |   X   |   Q   |
// |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   ;   |
// |H & ESC|  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   |                   |  N   |  M    |  B    |  .   |   ,   |   >   |
// | LCTL  | LGUI  | LALT |  GRAV |  | EQL  | DEL | BKSP| | RET | SPC  | LBKT |  RBKT  | LBKT | HOME  |  MO 1 |

            bindings = <
&kp N1        &kp N2    &kp N3   &kp N4    &kp N5    &kp N6                    &kp N7    &kp N8    &kp N9    &kp N0    &kp MINUS  &kp EQUAL
&kp TAB       &kp Q     &kp W    &kp E     &kp R     &kp T                     &kp Y     &kp U     &kp I     &kp O     &kp P      &kp LBKT
&mt HYPER ESC &kp A     &kp S    &kp D     &kp F     &kp G                     &kp H     &kp J     &kp K     &kp L     &kp SEMI   &kp SQT
&kp GRAVE     &kp Z     &kp X    &kp C     &kp V     &kp B                     &kp N     &kp M     &kp COMMA &kp DOT   &kp FSLH   &kp RET
&sk LCTRL     &kp LGUI  &sk LALT &sk LGUI  &td_caps  &lt 3 SPACE               &tog 3    &sk RSHFT &sk RGUI  &sk RALT  &sk RCTRL  &mo 1
                                                                 &kp RET                   &lt 4 BSPC
            >;
            sensor-bindings = <&inc_dec_kp LEFT RIGHT>;

        };
        
        pisi_layer {
// ------------------------------------------------------------------------------------------------------------
// |  F1   |  F2 | F3  | F4   | F5   | F6   |                   |  F7  |  F8   |  F9   | F10  | F11   | F12   |
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |
// | TOG 2 |     |     |      |      |      |       |    |      |      |       |       |      |       |       |

            bindings = <
&kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &kp F6                             &kp F7 &kp F8 &kp F9   &kp F10  &kp F11   &kp F12
&trans &trans &trans &trans &trans &trans                             &trans &trans &trans   &trans   &trans    &trans
&trans &trans &trans &trans &trans &trans                             &trans &trans &trans   &trans   &trans    &trans
&trans &trans &trans &trans &trans &trans                             &trans &trans &trans   &kp UP   &trans    &trans
&tog 2 &trans &trans &trans &trans &trans                             &trans &trans &kp LEFT &kp DOWN &kp RIGHT &trans
                                   &trans                             &trans 
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };


        setup_layer {
// ------------------------------------------------------------------------------------------------------------
// |BTCLEAR| BT0 | BT1 | BT2  | BT3  | BT4  |                   |      |       |       |      |       | BOOT  |
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |
// | TOG 2 |     |     |      |      |      |       |    |      |      |       |       |      |       |       |

            bindings = <
&bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4         &trans &trans &trans &trans &trans &bootloader
&trans &trans &trans &trans &trans &trans                                           &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans                                           &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans                                           &trans &trans &trans &trans &trans &trans
&tog 2 &trans &trans &trans &trans &trans                                           &trans &trans &trans &trans &trans &trans
                                   &trans                                           &trans
            >;
            sensor-bindings = <&inc_dec_kp LEFT RIGHT>;
        };

        symbol_layer {
// ------------------------------------------------------------------------------------------------------------
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |
// |       |     |     |      |      |      |                   |      |       |  UP   |      |       |       |
// |       |     |     |      |      |      |                   |      | LEFT  | DOWN  | RIGHT|       |       |
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |


            bindings = <
&trans &trans &trans &trans &trans &trans                       &trans  &trans   &trans   &trans    &trans &trans
&trans &trans &trans &trans &trans &trans                       &trans  &kp BSPC &kp UP   &trans    &trans &trans
&trans &trans &trans &trans &trans &trans                       &kp DEL &kp LEFT &kp DOWN &kp RIGHT &trans &trans
&trans &trans &trans &trans &trans &trans                       &trans  &trans   &trans   &trans    &trans &trans
&trans &trans &trans &trans &trans &trans                       &trans  &trans   &trans   &trans    &trans &trans
                                   &trans                       &trans
            >;
            sensor-bindings = <&inc_dec_kp UP DOWN>;
        };

        function_layer {
// ------------------------------------------------------------------------------------------------------------
// |BTCLEAR| BT0 | BT1 | BT2  | BT3  | BT4  |                   |      |       |       |      |       | BOOT  |
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |
// | TOG 2 |     |     |      |      |      |       |    |      |      |       |       |      |       |       |

            bindings = <
&trans &trans &trans  &trans &trans   &trans                                           &trans &trans &trans &trans &trans &trans
&trans &kp F1 &kp F2  &kp F3  &kp F4  &trans                                           &trans &trans &trans &trans &trans &trans
&trans &kp F5 &kp F6  &kp F7  &kp F8  &trans                                           &trans &trans &trans &trans &trans &trans
&trans &kp F9 &kp F10 &kp F11 &kp F12 &trans                                           &trans &trans &trans &trans &trans &trans
&trans &trans &trans  &trans &trans   &trans                                           &trans &trans &trans &trans &trans &trans
                                      &trans                                           &trans
            >;
            sensor-bindings = <&inc_dec_kp LEFT RIGHT>;
        };

        navigation_layer {
// ------------------------------------------------------------------------------------------------------------
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |
// |       |     |     |      |      |      |                   |      |       |  UP   |      |       |       |
// |       |     |     |      |      |      |                   |      | LEFT  | DOWN  | RIGHT|       |       |
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |
// |       |     |     |      |      |      |                   |      |       |       |      |       |       |


            bindings = <
&trans &trans &trans &trans &trans &trans                       &trans  &trans   &trans   &trans    &trans &trans
&trans &trans &trans &trans &trans &trans                       &trans  &kp BSPC &kp UP   &trans    &trans &trans
&trans &trans &trans &trans &trans &trans                       &kp DEL &kp LEFT &kp DOWN &kp RIGHT &trans &trans
&trans &trans &trans &trans &trans &trans                       &trans  &trans   &trans   &trans    &trans &trans
&trans &trans &trans &trans &trans &trans                       &trans  &trans   &trans   &trans    &trans &trans
                                   &trans                       &trans
            >;
            sensor-bindings = <&inc_dec_kp UP DOWN>;
        };



//&trans &trans &trans &trans &trans &trans                             &trans &trans &trans &trans &trans &trans
//&trans &trans &trans &trans &trans &trans                             &trans &trans &trans &trans &trans &trans
//&trans &trans &trans &trans &trans &trans                             &trans &trans &trans &trans &trans &trans
//&trans &trans &trans &trans &trans &trans                             &trans &trans &trans &trans &trans &trans
//&trans &trans &trans &trans &trans &trans                             &trans &trans &trans &trans &trans &trans
//                                   &trans                             &trans


    };
};
